.glow-yellow {
    color: #FAA41A;
    text-shadow: 0 0 20px rgba(255, 215, 0, 0.8), 
                 0 0 40px rgba(255, 215, 0, 0.5);
    transition: text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  
  .glow-white {
    color: #ffffff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 
                 0 0 30px rgba(255, 255, 255, 0.5);
    transition: text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  